<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2"><a [routerLink]="['/layout']"><i
                class="fas fa-arrow-left"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;About
    </div>
    <div class="page__content shadow p-3 position-relative">
        <div class="page__content-data position-absolute text-center">
            <div class="container aboutbox">
                <div class="row ">
                    <div class="col-md-12 aboutboxcol">
                        <h2 style="text-align: center;">About Us</h2>
                        <p class="para">Zestiot offers innovative and flexible solutions at any stage of the
                            product life cycle. We blend the
                            experience and knowledge gained over the years from </p>
                        <p class="para">several diverse projects to provide best
                            solutions to our customers. Renevera is powered by strong resources and our delivery
                            capabilities
                            incorporate ISO guidelines and SEI CMM process standards.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
<section id="servi">
    <div class="parallax">
        <div class="container-fluid allboxes">
            <div class="row">
                <div class="col-md-4 firstbox">
                    <p id="p"><b>OUR SERVICES :</b></p>
                    <p style="text-align: center;  "><strong>our services make your dream bright</strong>
                    </p>
                </div>
                <div class="col-md-4 ">
                    <div class="one">
                        <h4><b>apps integration</b>
                        </h4>
                        <div class="servicebox">
                            <a><i class="fa fa-2x fa-file-text wow bounceIn"></i></a>
                        </div>
                    </div>

                    <div class="one">
                        <h4><b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;online &nbsp;coding </b></h4>
                        <div class="servicebox">
                            <a><i class="fa fa-2x fa-code wow bounceIn"></i></a>
                        </div>
                    </div>

                    <div class="one">
                        <h4 style="margin-left:-30px ;"><b>engineering services</b></h4>
                        <div class=" servicebox">
                            <a><i class="fas fa-lightbulb fa-2x wow bounceIn"></i></a>
                        </div>
                    </div>

                </div>


                <div class="col-md-4  outerbox1">

                    <div class="one">
                        <div class="servicebox">
                            <a><i class="fas fa-pager fa-2x wow bounceIn"></i></a>
                        </div>
                        <h4><b>web development</b></h4>
                    </div>

                    <div class="one">
                        <div class="servicebox">
                            <a><i class="fa fa-2x fa-cloud wow bounceIn"></i></a>
                        </div>
                        <h4 style="margin-top:10px"><b>application migration </b></h4>
                    </div>

                    <div class="one">
                        <div class="servicebox">
                            <a><i class="fas fa-bullhorn fa-2x wow bounceIn"></i></a>
                        </div>
                        <h4><b>custom branding</b></h4>
                    </div>
                </div>




            </div>
        </div>
    </div>
</section>
<h1 style="text-align: center;margin-top:130px;color:#1e293b;">Our Team</h1>
<div class="container">
    <div class="nord">
        <div class="imgbx">
            <img src="../../assets/card33.jpg" height="300px" width="95%">
        </div>
        <div class="content">
            <br>
            <br>
            <br>
            <h1>MIke</h1>
            <p style="font-size:10px">Angular developer</p>
            <a class="anch" href="#"><i class="fab  fa-facebook-f "></i></a>&nbsp;&nbsp;&nbsp;
            <a class="anch" style="font-size: 25px;padding-left:15px;"
                href="https://accounts.google.com/signup/v2/webcreateaccount?hl=en&flowName=GlifWebSignIn&flowEntry=SignUp"><i
                    class="fas  fa-envelope"></i></a>&nbsp;&nbsp;&nbsp;
            <a class="anch" href="#"><i class="fab fa-whatsapp "></i></a>&nbsp;&nbsp;&nbsp;
            <a class="anch" href="https://www.linkedin.com/in/john-wesley-vanapalli-1859aa1ab"><i
                    class="fab fa-linkedin "></i></a>&nbsp;&nbsp;&nbsp;

        </div>
    </div><br><br><br><br><br>
    <div class="nord">
        <div class="imgbx">
            <img src="../../assets/user.jpg" height="300px" width="95%">
        </div>
        <div class="content">
            <br>
            <br>
            <br>
            <h1>Johnny</h1>
            <p style="font-size:10px">Angular developer</p>
            <a class="anch" href="#"><i class="fab  fa-facebook-f "></i></a>&nbsp;&nbsp;&nbsp;
            <a class="anch" style="font-size: 25px;padding-left:15px;"
                href="https://accounts.google.com/signup/v2/webcreateaccount?hl=en&flowName=GlifWebSignIn&flowEntry=SignUp"><i
                    class="fas  fa-envelope"></i></a>&nbsp;&nbsp;&nbsp;
            <a class="anch" href="#"><i class="fab fa-whatsapp "></i></a>&nbsp;&nbsp;&nbsp;
            <a class="anch" href="https://www.linkedin.com/in/john-wesley-vanapalli-1859aa1ab"><i
                    class="fab fa-linkedin "></i></a>&nbsp;&nbsp;&nbsp;
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="nord">
        <div class="imgbx">
            <img src="../../assets/card3.jpg" height="300px" width="95%">
        </div>
        <div class="content">
            <br>
            <br>
            <br>
            <h1>sara</h1>
            <p style="font-size:10px">Angular developer</p>
            <a class="anch" href="#"><i class="fab  fa-facebook-f "></i></a>&nbsp;&nbsp;&nbsp;
            <a class="anch" style="font-size: 25px;padding-left:15px;"
                href="https://accounts.google.com/signup/v2/webcreateaccount?hl=en&flowName=GlifWebSignIn&flowEntry=SignUp"><i
                    class="fas  fa-envelope"></i></a>&nbsp;&nbsp;&nbsp;
            <a class="anch" href="#"><i class="fab fa-whatsapp "></i></a>&nbsp;&nbsp;&nbsp;
            <a class="anch" href="https://www.linkedin.com/in/john-wesley-vanapalli-1859aa1ab"><i
                    class="fab fa-linkedin "></i></a>&nbsp;&nbsp;&nbsp;
        </div>
    </div>
    <div class="nord">
        <div class="imgbx">
            <img src="../../assets/img1.jpeg" height="300px" width="95%">
        </div>
        <div class="content">
            <br>
            <br>
            <br>
            <h1>Johnny</h1>
            <p style="font-size:10px">Angular developer</p>
            <a class="anch" href="#"><i class="fab  fa-facebook-f "></i></a>&nbsp;&nbsp;&nbsp;
            <a class="anch" style="font-size: 25px;padding-left:15px;"
                href="https://accounts.google.com/signup/v2/webcreateaccount?hl=en&flowName=GlifWebSignIn&flowEntry=SignUp"><i
                    class="fas  fa-envelope"></i></a>&nbsp;&nbsp;&nbsp;
            <a class="anch" href="#"><i class="fab fa-whatsapp "></i></a>&nbsp;&nbsp;&nbsp;
            <a class="anch" href="https://www.linkedin.com/in/john-wesley-vanapalli-1859aa1ab"><i
                    class="fab fa-linkedin "></i></a>&nbsp;&nbsp;&nbsp;
        </div>
    </div>


</div>

<br><br>
<section class="fdbk">
    <div class="container">
        <div class="row">

            <div class="col-md-6 second">
                <div class="frm">
                    <form name="addform" #addform="ngForm" (ngSubmit)="addform.form.valid && addmessage(addform)">
                        <h4>Reach Us :</h4><br>
                        <div>
                            <label>Name:</label>
                            <input type="text" placeholder="enter your name" class="form-control" name="name"
                                #name="ngModel" [(ngModel)]="feed.name" required>
                            <span
                                *ngIf="(name.errors?.required && name.touched) || (name.errors?.required && addform.submitted)"
                                style="color: red;">please enter first name</span>
                        </div>

                        <div>
                            <label>Email:</label>
                            <input type="text" placeholder="enter email" class='form-control' name="email"
                                #email='ngModel' [(ngModel)]="feed.email"
                                pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                            <span
                                *ngIf="(email.errors?.required && email.touched)||(email.errors?.required && addform.submitted)"
                                style="color: red;">enter a valid email</span>
                            <span
                                *ngIf="(email.errors?.pattern && email.touched) || (email.errors?.pattern && addform.submitted)"
                                style="color: red;">must be valid</span>
                        </div>

                        <div>
                            <label>Phone:</label>
                            <input type="text" placeholder="enter phone" class='form-control' name="phone"
                                #phone="ngModel" [(ngModel)]="feed.phone" required>
                            <span
                                *ngIf="(phone.errors?.required && phone.touched)||(phone.errors?.required && addform.submitted)"
                                style="color: red;">enter a valid phone number</span>
                            <span
                                *ngIf="(phone.errors?.pattern && phone.touched) || (phone.errors?.pattern && addform.submitted)"
                                style="color: red;">Phone number must contains 10digits</span>
                        </div><br>

                        <div>
                            <label>subject:</label>
                            <textarea style="height: 100px;" type="textarea" placeholder="Message" class='form-control'
                                name='subject' #subject='ngModel' [(ngModel)]="feed.message"></textarea>
                        </div><br>

                        <div>
                            <input class="btn" type="submit" value="submit" class="btn btn-primary">
                        </div>

                    </form>
                </div>
            </div>
            <div class="col-md-6 map">

                <div class="card map-card">

                    <iframe
                        src="//www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.8900297016207!2d78.40708301470363!3d17.417064388060783!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb97d1e7b0b579%3A0x638c62ede6c40a82!2sZestIoT%20Technologies%20Pvt%20Ltd!5e0!3m2!1sen!2sin!4v1635682824850!5m2!1sen!2sin"
                        width="600" height="520" style="border:0;" allowfullscreen="" loading="lazy"></iframe>


                </div>
            </div>

        </div>
    </div>
</section>


<div class="footer-copyright bg-dark text-center py-3">© 2021 Copyright:&nbsp;
    <a [routerLink]="['/about']" routerLinkActive="router-link-active"> Zestiot.com</a>
</div>