<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2"><a [routerLink]="['/layout']"><i
        class="fas fa-arrow-left"></i></a>&nbsp;&nbsp;&nbsp; My
    Profile
  </div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-absolute text-center">

      <div class="container matter">
        <div class="row">
          <div class="col-md-6">
            <img src="../../assets/profile.svg"><br><br>
            <h3>Johnny</h3>
          </div>
          <div class="col-md-6" style="padding-top: 160px;">
            <h5>Johnny </h5>
            <a class="btn btn-primary" [routerLink]="['/about']">Go To About&nbsp;&nbsp;<i
                class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>